{% extends "./base.html" %}
{% block sub_content %}


<div class="row">

    <div class="col-12">

        <h2> Servicio: {{service.name}} </h2>
        <div class="d-flex justify-content-end">

                          <a class="nav-link dropdown-toggle text-reset" href="#" id="companyDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                              <svg class="svg-icon" width="22" height="22" viewBox="0 0 20 20">
							    <path d="M3.936,7.979c-1.116,0-2.021,0.905-2.021,2.021s0.905,2.021,2.021,2.021S5.957,11.116,5.957,10
								S5.052,7.979,3.936,7.979z M3.936,11.011c-0.558,0-1.011-0.452-1.011-1.011s0.453-1.011,1.011-1.011S4.946,9.441,4.946,10
								S4.494,11.011,3.936,11.011z M16.064,7.979c-1.116,0-2.021,0.905-2.021,2.021s0.905,2.021,2.021,2.021s2.021-0.905,2.021-2.021
								S17.181,7.979,16.064,7.979z M16.064,11.011c-0.559,0-1.011-0.452-1.011-1.011s0.452-1.011,1.011-1.011S17.075,9.441,17.075,10
								S16.623,11.011,16.064,11.011z M10,7.979c-1.116,0-2.021,0.905-2.021,2.021S8.884,12.021,10,12.021s2.021-0.905,2.021-2.021
								S11.116,7.979,10,7.979z M10,11.011c-0.558,0-1.011-0.452-1.011-1.011S9.442,8.989,10,8.989S11.011,9.441,11.011,10
								S10.558,11.011,10,11.011z"></path>
						    </svg>
                          </a>
                           <div class="dropdown-menu rounded-0" aria-labelledby="companyDropdown">
                            <div class="card border-0">
                              <div class="card-body">
                                <ul class="list-group list-group-flush dropdown-account-link">
                                    <a href="{% url 'travel:service_update' slug=service.id %}" class="text-reset small list-group-item p-0 pb-O border-0 dropdown-account-link">Actualizar</a>
                                    <a href="{% url 'travel:service_delete' slug=service.id %}" class="text-reset small list-group-item p-0 pb-O border-0 dropdown-account-link">Eliminar</a>
                                </ul>
                              </div>
                            </div>
                           </div>
                      </div>

        <div class="card card-service">
                  <div>
                      <img src="/media/{{service.img_l}}" class="card-img-top" alt="...">
                      <div class="card-service-title ">
                          {{service.name}}
                      </div>
                  </div>

                  <div class="card-body">
                      {{service.description}}
                  </div>
                    <div class="card-footer">
                      {{service.price}}$ por persona
<!--                        <a href="#" class="btn btn-primary btn-small"> Reservar</a>-->
                  </div>
        </div>
    </div>
<!--    <div class="col-6">-->
<!--        <input type="text" name="latitude" value="{{service.latitude}}" id="id_latitude" hidden>-->
<!--        <input type="text" name="longitude" value="{{service.longitude}}" id="id_longitude" hidden>-->
<!--        <img src="/media/{{ service.img_l }}" alt="service.name" style="width:100%">-->
<!--    </div>-->

<!--    <div class="col-6">-->
<!--        <div style="width:100%;height:100%;">-->
<!--            <div id="map" ></div>-->
<!--        </div>-->
<!--    </div>-->
</div>

{% endblock %}

{% block scriptjs %}

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnpHsl6ujM6EmvFVfoSsdLR6jxbykvw6w&callback=initMap" async defer></script>-->
<!--<script type="text/javascript" src="/static/maps/index.js"></script>-->

{%endblock %}