{% extends "../sub_base.html" %}
{% block title %}Reset Status{% endblock %}
{% block content %}

<div class="container">
    <div>
        {% if 'email' in request.get_full_path %}
        <h3 class="mb-4">Se ha actualizado tu contraseña</h3>
        <p>Revisa tu correo para seguir las instrucciones</p>
        {% endif%}
        {% if 'complete' in request.get_full_path %}
        <h3 class="mb-4">Se ha actualizado tu contraseña</h3>
        <a href="{% url "account:login" %}">Iniciar sesión</a>
        {% endif%}
    </div>
</div>

{% endblock %}